h1 {
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.loading {
  font-size: 1.1rem;
  text-align: center;
}
.date {
  margin: 0;
  text-align: center;
  font-size: 0.95rem;
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.6rem;
  }
  .loading {
    font-size: 1.2rem;
  }
  .date {
    font-size: 0.85rem;
  }
}
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 1.4rem;
  }
  .loading {
    font-size: 0.95rem;
  }
}
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
    margin: 1.2rem 0 0.4rem 0;
  }
  .date {
    font-size: 0.7rem;
  }
  .loading {
    font-size: 0.8rem;
  }
}
